#ativImg0 {
    
    width: 256px;
    height: auto;
    text-decoration: none;
}
.ativDiv {
    display: flex;
    margin: 10pt;
    width: 30%;
    text-decoration: none;
    border: 1px white dotted;
    
}

#aLinkMaps {
}

#ativSrcDiv:hover {
    
    border: 1px darkgrey dotted;
}

.adminBot {
    background-color: #ffe724;
    width: 15em;
}

a:link { text-decoration: none; color: black;}

a:visited { text-decoration: none; color: black;}

a:hover { text-decoration: none; color: black;}

a:active { text-decoration: none; color: black;}