
#searchBox, #box {
    text-align: center;
}

#contentTable {
    width: 90%;
}
table {
    
    margin: 10px;
    
}
table, td, th, tr{
    padding: 2px;
    border-collapse: collapse;
}

#logForm {
    
    height: 90%;
    width: 93%;
    
    font-size: 2vmin;
    
    background: none;
    border: none;
    
    
}

#tableDiv {
    
    /* align search form */
    justify-content: center;
    align-items: center;
    display:flex;
}

#box {
    
    /* whatever else */
    background-color: #d1d2d4;
    
    width: 100%;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 2px 4px 5px gray;
    border-radius: 25px;
    
}

#container {
    margin-top: 10vmin;
}

.input {
    
    width: 90%;
    border-radius: 25px;
    text-align: center;
}

#submit {
    background-color: #ffe724;
}

#srcWrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.adminBot {
    background-color: #ffe724;
    width: 15em;
}
.adminBotSmall {
    background-color: #ffe724;
}

#logForm {
    margin-left: auto;
    margin-right: auto;
}

#t1 {
    background-color: #a4ffae;
}

#t0 {
    background-color: #ff9494;
}


#tab0 {
    background-color: white;
}